
 
  <div class="container">
    <h1>أنواع الملفات </h1>
    <div class="options">
        <mat-form-field >
        <div >
            <mat-label>يبحث</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </div>
       
        
      </mat-form-field>
      <button mat-raised-button color="primary"  ngbTooltip="إضافة نوع ملف جديد" (click)="openmodal('add')">إضافة الملف</button>
    </div>
    
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> رقم الملف </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef> نوع الملف</th>
          <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> دور المستخدم </th>
            <td mat-cell *matCellDef="let element"> <div class="icons">
              <button mat-mini-fab color="accent"
              
              (click)="openmodal('edit',element.id)"
              aria-label="Example icon button with a home icon"  ngbTooltip="تغيير معلومات  نوع الملف">
                <mat-icon>edit</mat-icon>
              </button>       
               <button mat-mini-fab color="warn" (click)="confirm(element.id)"  ngbTooltip="حذف نوع الملف">
                <mat-icon>delete</mat-icon>
              </button>
      
            </div> </td>
          </ng-container>
        <!-- Weight Column -->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      </div>